@import "../bootstrap.scss";


.button_container {
  bottom: 0;
  padding: 23px;
  position: fixed;
  right: 0;
  white-space: nowrap;
  z-index: 100;
}

.button {
  background-color: $brand-primary;
  height: 56px;
  width: 56px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 0px;
  color: #fff;
  font-size: 32px;

  &:hover {
    background-color: lighten($brand-primary, 10%);
  }
}
