@import "../bootstrap.scss";

$hamburger_margin: 10px;

.toolbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-static-top;
  margin-bottom: 0px;
}

.toolbar_inner {
  @extend .fluid-container;
}

.brand {
  @extend .navbar-brand;
  float: none;
  padding-left: 0px;
}

.hamburger {
  @extend .navbar-toggle;
  float: none;
  margin-left: $hamburger_margin;
  margin-right: $hamburger_margin;

  @media (min-width: $grid-float-breakpoint) {
    display: inline-block;
  }
}

.menu_closed {
  @extend .dropdown-menu;
  margin-left: $hamburger_margin;
  margin-top: $hamburger_margin;
}

.menu_opened {
  @extend .menu_closed;
  display: block;
}
